# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyd
env/
venv/
*.env
*.DS_Store

# Arquivos e pastas de IDEs
.vscode/
.idea/

# Arquivos temporários
*.log
*.tmp
*.swp
*.swo

# Arquivos de build e dependências
node_modules/
dist/
build/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Outras pastas específicas
uploads/
